/* @import "bootstrap";
h1{
    text-align: center;
}
.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);}
form {
        display: flex;
       flex-direction: row;}
#game-form{
        gap: 10px;
        background-color: burlywood;
        padding: 10px;
       }
input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 15px;
    }
    button {
        padding: 10px;
        background-color: #00ff1e;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }
    body{
        background-color: rgb(66, 11, 11);
    } */
     